# .env file contains sensitive information
.env

# input folder have data downloaded and transformed from pbi Report Server
input/*

# output folder have the files to be imported by IGC
output/*

# boilerplate is a stub file to debug code, feel free to create one
boilerplate.py

# generated .pyc files
__pycache__
