#THIS IS A TEMPLATE .env FILE, FOR THIS APP TO RUN CORRECTLY, A .env FILE MUST BE CREATED(OR ENV VARIABLES DEFINED), YOUR CHOICE.

#HOST WHERE YOUR POWER BI REPORT SERVER DATABASE IS
SERVER =

#NAME OF THE POWER BI REPORT SERVER DATABASE
DATABASE =

#DATABASE USER (MUST HAVE SELECT GRANT ON TABLE dbo.[catalog])
USER =

#USER PASSWORD
PASSWORD =

#7ZIP APP LOCATION
7ZIP = C:\Program Files\7-Zip\7z.exe

#ISTOOL APP LOCATION
ISTOOLPATH = NONE
